Source: qiimetomaaslin
Maintainer: Huttenhower Lab <hutlab@googlegroups.com>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 8), python (>= 2), python (<< 3), python-blist

Package: qiimetomaaslin
Architecture: any
Depends: , 
Description: Qiime to Maaslin.
 Connects Qiime tools to Maaslin tools.
